<!-- Toolbar -->
<div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign="end center">
  <div class="row p-r-20">
    <div class="col-4 text-center option-toolbar" [routerLink]="['personajes']"> <span>Personajes</span> </div>
    <div class="col-4 text-center option-toolbar" [routerLink]="['estudiantes']"> <span>Estudiantes</span></div>
    <div class="col-4 text-center option-toolbar" [routerLink]="['profesores']"> <span>Profesores</span> </div>
  </div>
</div>

<!-- <div class="content" role="main"> -->
  <router-outlet></router-outlet>
<!-- </div> -->


