/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.text-center {
  text-align: center;
}

.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-l-5 {
  padding-left: 5px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-l-30 {
  padding-left: 30px;
}

.p-b-5 {
  padding-bottom: 5px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-30 {
  padding-bottom: 30px;
}

html, body { 
  height: 100%;
  overflow-x: hidden; background: 
  rgb(223, 219, 219); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { background: rgb(223, 219, 219); }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content {
  display: flex;
  margin: 60px auto 32px;
  // height: 90vh;
  flex-direction: column;
  align-items: center;
  width: 70%;
  overflow: auto;
}


.toolbar {
  height: 60px;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}


.mat-card {
  // background: white;
  // color: #444;
  width: 100%;
  border-radius: 15px !important;
}